html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas {
  width: 100%;
  height: 100%;
}

#floating-panel {
  position: absolute;
  top: 10px;
  right: 5%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  line-height: 30px;
  padding-left: 10px;
}

#show-overlay,
#hide-overlay,
#bus-select,
#bus-deselect {
  width: 48%;
}

.dropdown-item {
  text-align: center;
  cursor: pointer;
}

.box {
  float: left;
  height: 20px;
  width: 20px;
  margin-top: 5px;
  border: 1px solid black;
  clear: both;
}

.box.P101_1 {
  background-color: #FC2947;
}

.box.P102_1,
.box.P102_2 {
  background-color: #03C988
}

.box.P106_1 {
  background-color: #820000
}

.box.P202_1 {
  background-color: #F0997D
}

.box.P211_1,
.box.P211_2 {
  background-color: #B08BBB
}

.box.P411_1,
.box.P411_2 {
  background-color: #5E8C88
}

.box.P403_1 {
  background-color: #674747
}

.input-items {
  vertical-align: top;
}

.input-origin-destination {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.input-container {
  display: inline;
  align-items: flex-start;
}

#size-two-icons {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-top: 10px;
}

#placeholder-padding {
  padding-left: 20px;
}

#search-btn-size {
  width: 13px;
  height: 13px;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #222;
  margin-bottom: 1em;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  background-color: rgb(126, 174, 215);
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: rgb(145, 181, 213);
}

.routes-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 0.5em 1em;
  background-color: #fff;
  cursor: pointer;

  border-radius: 8px;
  border-style: solid;
  border-width: thin;
  border-color: #e3ebf2;

}

.routes-box:hover {
  background-color: #EAF1F6;
  .details-btn: hover;
}

.routes-box:active {
  background-color: #EAF1F6;
}

.time-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.time {
  margin-right: 10px;
}

.start-time,
.end-time {
  font-weight: 600;
}

.time-separator {
  font-size: 18px;
  margin: 0 10px;
}

#directions-panel {
  height: 45em;
  overflow: scroll;
  overflow-x: hidden;
}

.selected-route {
  max-height: 350px;
  overflow: scroll;
  overflow-x: hidden;
}

.duration {
  font-size: 16px;
  font-weight: 600;
}

.details-btn {
  color: #4a67d1;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: underline;
  background-color: transparent;
}

.details-btn:hover {
  /*background-color: rgba(154, 174, 236, 0.13);*/
  color: #0d2685;
}

.route-list>.test .col-sm-1:first-child span {
  list-style-type: none;
  position: relative;
  margin-left: 0;
  padding-left: 1.2em;
  position: absolute;
  top: -50px;
  font-size: 12px;
  font-weight: 500;
  color: slategrey;
}

.location_indicator {
  margin-right: 0.2em;
}

.ellipsis {
  display: block;
  padding-left: 0.35em;
}

.ellipsis-icons {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  margin-left: 0.2em;
}

.pipe {
  margin: -20px;
  padding: 0;
}

.switch {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: blue;
}

#switch-btn {
  background-color: white;
  border: none;
}

.ellipsisP101 .bus-numP101 {
  color: #FC2947;
}

.ellipsisP102 .bus-numP102 {
  color: #03C988
}

.ellipsisP106 .bus-numP106 {
  color: #820000
}

.ellipsisP202 .bus-numP202 {
  color: #F0997D
}

.ellipsisP211 .bus-numP211 {
  color: #B08BBB
}

.ellipsisP411 .bus-numP411 {
  color: #5E8C88
}

.ellipsisP403 .bus-numP403 {
  color: #674747
}

.icons-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.bus-number {
  margin-left: 8px;
  padding: 2px 7px;
  border: none;
  border-radius: 5px;
  color: whitesmoke;
}

.display-time-and-location {
  font-weight: 400;
  color: #222222;
}

.angle-right {
  margin: 0 8px;
  color: lightslategrey;
}

#loading {
  text-align: center;
}